In [8]:
import requests
import pandas as pd

In [2]:
r = requests.get('https://api.binance.com/api/v3/exchangeInfo')

In [3]:
dic = r.json()

In [4]:
dic = dic['symbols']

In [12]:
df = pd.DataFrame(dic)

In [ ]:
df.head()

In [15]:
df = df['symbol']

In [23]:
df = pd.DataFrame(df)

In [26]:
df = df.rename(columns = {'symbol' : 'Binance'})

In [27]:
df

       Binance
0       ETHBTC
1       LTCBTC
2       BNBBTC
3       NEOBTC
4      QTUMETH
...        ...
1332  PONDBUSD
1333  PONDUSDT
1334   DEGOBTC
1335  DEGOBUSD
1336  DEGOUSDT

[1337 rows x 1 columns]

In [34]:
df[df.duplicated() == True]

Empty DataFrame
Columns: [Binance]
Index: []

In [78]:
r = requests.get('https://www.okex.com/api/spot/v3/instruments')

In [79]:
r.status_code

200

In [104]:
df2 = r.json()

In [105]:
df2 = pd.DataFrame(df2)

In [106]:
df2.head()

  base_currency category instrument_id  ... quote_currency size_increment tick_size
0           BTC        1      BTC-USDT  ...           USDT     0.00000001       0.1
1           ETH        1      ETH-USDT  ...           USDT       0.000001      0.01
2           OKB        1      OKB-USDT  ...           USDT         0.0001     0.001
3           OKT        1      OKT-USDT  ...           USDT       0.000001      0.01
4           LTC        1      LTC-USDT  ...           USDT       0.000001      0.01

[5 rows x 7 columns]

In [107]:
df2 = df2['instrument_id']

In [108]:
df2 = df2.replace('-', '', regex=True)

In [109]:
df2 = pd.DataFrame(df2)

In [110]:
df2 = df2.rename(columns = {'instrument_id' : 'Okex'})

In [111]:
df2.head()

      Okex
0  BTCUSDT
1  ETHUSDT
2  OKBUSDT
3  OKTUSDT
4  LTCUSDT

In [116]:
df_full = df.merge(df2, how = 'outer', left_on='Binance', right_on='Okex')

In [127]:
df_full.to_csv('tickets.csv')

In [122]:
from google.colab import files

In [128]:
files.download("tickets.csv")